<div>
    <div class="flex justify-between">
        <h3>任务状态统计</h3>
        <div>
            <!-- 在你的组件的 HTML 模板中 -->
            <nz-range-picker
                [nzShowTime]="true"
                [(ngModel)]="dateRangeValue"
                [nzPlaceHolder]="['开始日期', '结束日期']"
                nzFormat="yyyy-MM-dd hh:mm:ss">
            </nz-range-picker>
        </div>
    </div>
    <nz-divider style="margin: 2px 0px"></nz-divider>

    <div *ngIf="showChart; else notShowChart" class="flex flex-row h-full pt-2 gap-1">
        1
        <div id="home-graph" #homeGraphContainer class="flex-1 h-full" style="height: calc(100vh - 460px)"></div>
        <div id="home-table" class="flex-1 h-full">
            <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>数量</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="basicTable.data && basicTable.data.length">
                        <tr *ngFor="let data of basicTable.data; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.count }}</td>
                            <td>{{ data.status }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>

    <ng-template #notShowChart>
        <nz-skeleton class="mt-4" [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton>
    </ng-template>
</div>
