<div class="h-full px-5">
    <div class="flex justify-between">
        <h2 class="primary-color">任务状态统计</h2>
        <!-- <div>
            <nz-range-picker
                [nzShowTime]="true"
                [(ngModel)]="dateRangeValue"
                [nzPlaceHolder]="['开始日期', '结束日期']"
                nzFormat="yyyy-MM-dd hh:mm:ss">
            </nz-range-picker>
        </div> -->
    </div>
    <!--    <nz-divider style="margin: 2px 0px"></nz-divider>-->

    <div *ngIf="showChart; else notShowChart" class="flex h-full pt-2">
        <div id="home-graph" #homeGraphContainer class="flex-1 flex justify-center" style="height: 600px"></div>
        <!-- <div id="home-table" class="flex-1 h-full">
            <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>数量</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="basicTable.data && basicTable.data.length">
                        <tr *ngFor="let data of basicTable.data; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.value }}</td>
                            <td>{{ data.name }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div> -->
    </div>

    <ng-template #notShowChart>
        <nz-skeleton class="mt-4" [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton>
    </ng-template>
</div>
