<ul nz-menu nzMode="inline" style="height: 100%" class="side-menu-wrap">
    <li nz-menu-item nzMatchRouter>
        <a routerLink="/management/home">首页</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a routerLink="/management/project">项目管理</a>
    </li>
    <!-- <li nz-menu-item nzMatchRouter>
        <a routerLink="/management/users">用户管理</a>
    </li> -->
    <li nz-menu-item nzMatchRouter>
        <a routerLink="/management/task">任务明细</a>
    </li>
    <li nz-menu-item nzMatchRouter>
        <a routerLink="/management/log">运行日志</a>
    </li>
</ul>
