<div class="h-full px-5 flex flex-col">
    <app-common-create-project (notify)="handleNotification($event)"></app-common-create-project>
    <div class="flex-1 mt-4">
        <div class="bg-white rounded-lg">
            <div class="py-4 px-4">项目列表</div>
            <nz-divider class="m-0"></nz-divider>
            <div class="p-4">
                <!-- [nzFrontPagination]="false"
                    [nzShowQuickJumper]="true"
                    [nzLoading]="loading"
                    [nzTotal]="total"
                    [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex"
                    (nzQueryParams)="onQueryParamsChange($event)" -->
                <nz-table #basicTable nzShowSizeChanger [nzData]="tableData" [nzShowQuickJumper]="true">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>可读</th>
                            <th>可写</th>
                            <th>执行引擎</th>
                            <th>运行节点</th>
                            <th>停止节点</th>
                            <th>失效节点</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (data of tableData; track data; let idx = $index, e = $even) {
                            <tr class="cursor-pointer">
                                <td>{{ data.status.name }}</td>
                                <td>{{ data.permissions.canRead }}</td>
                                <td>{{ data.permissions.canWrite }}</td>
                                <td>{{ data.component.executionEngine }}</td>
                                <td>{{ data.component.runningCount }}</td>
                                <td>{{ data.component.stoppedCount }}</td>
                                <td>{{ data.component.invalidCount }}</td>
                                <td>{{ data.component.comments }}</td>
                                <td>
                                    <a (click)="handleDoubleClick(data)">查看详情</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a (click)="handleDelete(data)">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
